

{% extends 'index.html' %}

{% block content %}



<h2>Crete your leaven</h2>

<form class="leaven_form" method="post"> {% csrf_token %}

    <p>Name <input name="name" type="text"></p>
<p>Sourdough <input name="sourdough" type="number"> grams</p>
<p>Water <input name="water" type="number"> grams</p>
<p>Proofing time<input name="=proofing" type="time"></p>
<h4>Add Flours</h4>

<div class="form-row" id="leaven_form">

    <select name="flour">

        {% for flour in flours %}
            <option value="{{ flour.id }}">{{ flour.name }} </option>
        {% endfor %}

    </select>


        <input name="flour_amount" type="text"> grams

        <button id="next" type="button">Add next</button>

</div>

<p>

<input type="submit" value="Add leaven recipe to database">

    </form>

{% endblock content %}

        </script>
