{% extends 'index.html' %}

{% block content %}


<h2>Leavens in database</h2>


    <table>
        <thead>
            <th>Name</th><th>Flours</th><th>Sourdough Amount</th><th>Water Amount</th><th>Fermentation Time</th>
            <th></th><th></th><th></th>

        </thead>

    {% for leaven in object_list %}


            <tr><td>{{ leaven.name }}</td> <td>
                {% for flour in leaven.flourinleaven_set.all %}
                    <p>{{ flour }} <a href="{{ flour.get_delete_url }}">remove</a></p>
                {% endfor %}

            </td> <td>{{ leaven.sourdough }}</td>
                <td>{{ leaven.water }}</td> <td>{{ leaven.proofing }}</td>
                <td><a href="{{leaven.get_add_flour_url}}">add flour</a></td>
                <td><a href="{{leaven.get_delete_url}}">remove</a></td>
                <td><a href="{{leaven.get_edit_url}}">edit</a></td>

            </tr>

    {% empty %}
    No leavens added yet
    {% endfor %}

    </table>

{% endblock content %}