

<h3 class="sub-header">Flours in database</h3>

<table style="width:50%">

<thead>
  <tr>
    <th>Name</th> <th>Brand</th> <th>Grain</th> <th>Wholegrain</th> <th>Type</th><th></th><th></th>
  </tr>
</thead>
<tbody>

    {% for flour in object_list %}

        <tr> <td> {{ flour.name }} </td> <td>  {{ flour.brand }} </td> <td>  {{ flour.grain }} </td>

            <td> {{ flour.wholegrain }}</td> <td> {{ flour.type }} </td>

            <td> <a class="remove" href="{{ flour.get_delete_url}}">remove</a></td>

        <td> <a class="edit" href="{{ flour.get_edit_url}}">edit</a></td> </tr>


    {% empty %}
    No flours added yet
    {% endfor %}

</tbody>
</table>
