{% extends 'index.html' %}
{% block content %}

    {% load static %}

<h2>Select flour and their amounts to be added to the bread</h2>

    <button class="next">Add next flour</button>
    <button class="delete">Delete last flour</button>

<form method="post">
{% csrf_token %}
<div class="fields">
    <p>Flour
        <select name="flour">
                    {% for flour in flours %}
                    <option value="{{ flour.id }}">{{ flour }}</option>
                    {% endfor %}
            </select>
    </p>

    <p>grams <input name="grams" type="number"></p>

</div>

<input class="submit" type="submit" value="Submit">
    </form>

      <script src="{% static 'js/flour_form.js' %}"></script>

{% endblock content %}