<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <title>Bread App</title>

</head>

<link href="{% static 'css/style.css' %}" rel="stylesheet">


<body>

<h1>Bread App</h1>
<p>Manage your home bread baking.</p>

<div class="navigation">

<h2>Menu</h2>
Register
Login/Logout

<p>

    <a href="{% url 'show_breads' %}">View your breads</a>
    <a href="{% url 'add_bread' %}">Create your bread</a>
    <a href="{% url 'show_leavens' %}">View leavens</a>
    <a href="{% url 'add_leaven' %}">Create a leaven</a>
    <a href="{% url 'add_flour' %}">View and add flours</a>
    <a href="{% url 'add_grain' %}">View and add grains</a>

<p>

</div>

{% block content %}


{% endblock content %}

</body>
</html>